
a:link {
  color: red;
}

h1 {
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 25px;
}

h5 {
  font-family: 'Noto Sans Thai', sans-serif;
}

nav {
  flex: 1;
  text-align: center;
}

.container{
  width: 100%;
  height: 100vh;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar{
  height: 12%;
  display: flex;
  align-items: center;
}

.row{
  display: block;
  align-items: center;
}

.col{
  flex-basis: 100%;
}

p{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 20px;
}

p{
  padding: 0;
  margin: 0;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 20px;
}

.card{
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}

h4{
  font-family: 'Noto Sans Thai', sans-serif;
}

.card:hover{
  transform: translateY(-10px);
}

h5{
  color: #fff;
  text-shadow: 0 0 15px #000;
  font-size: 18px;
}

.card p{
  text-shadow: 0 0 15px #000;
  font-size: 15px;
}

.card1{
  background-image: url(ถั่วดินโคก.jpg);
}

.card2{
  background-image: url(เทพพาโร.webp);
}

.card3{
  background-image: url(มะตูมนิ่ม.jpg);
}

.card4{
  background-image: url(มะหาด.jpg);
}

.card5{
  background-image: url(เร่ว.jpg);
}

.card6{
  background-image: url(หัวร้อยรู.webp);
}

.card7{
  background-image: url(กระทุ่มนา.webp);
}

.card8{
  background-image: url(ขันทองพยาบาท.webp);
}

.card9{
  background-image: url(จุกโรหินี.webp);
}

.card10{
  background-image: url(ชะเอมไทย.webp);
}

.card11{
  background-image: url(ชิงชี่.jpg);
}

.card12{
  background-image: url(ตับเต่า.jpg);
}

.card13{
  background-image: url(นางแย้มป่า.jpg);
}

.card14{
  background-image: url(ปลาไหลเผือก.webp);
}

.card15{
  background-image: url(พังคี.webp);
}

.card16{
  background-image: url(มะคังแดง.webp);
}

.card17{
  background-image: url(สะค้าน.jpg);
}

.card18{
  background-image: url(สารภีป่า.jpg);
}

.card19{
  background-image: url(อบเชยไทย.jpg);
}

.card20{
  background-image: url(เฉียงพร้านางแอ.webp);
}

.card21{
  background-image: url(เถาเอ็นอ่อน.jpg);
}

.card22{
  background-image: url(เปราะหอม.jpg);
}